@keyframes slideInFromLeft {
    0% {
      transform: translateY(-10%);
    }
    100% {
      transform: translateY(0);
    }
  }
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.load {
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
.text {
  display: none;
}
.hovertext:hover .text{
    animation: 1s ease-out 0s 1 fadein;
    display: block;
}
@keyframes fadeIn {
  0%{
    opacity:0;
  }
  100% {
    opacity: 1;
    display: block;
  }
}
.hover {
  display: none !important;
  height: 0;
  overflow: hidden;
}
.hovertext:hover .hover {
  animation: 1s ease-out 0s 1 fadeIn;
  display: block !important;
  height: 100%; /* Set a fixed height instead of 'auto' */
}
.product-info {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f8f8f8;
}

.product-info h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-info p {
  font-size: 16px;
  color: #555;
}
.right-side-orders-admin {
  margin: 0;
  padding: 0;
  left: 0;
  top:0;
  width: 50%;
  height: calc(100vh - 150px);
  background-color: grey;
}