{% extends "layout.html" %}

{% block title %}
    Password Reset
{% endblock %}

{% block main %}
<form action="/password_reset" method="post">
    <div class="mb-3">
        <input autocomplete="off" class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="New Password" type="password">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="confirm" name="confirmation" placeholder="Confirm new password" type="password">
    </div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}
